body {
    font-family: 'Fira Sans',sans-serif;
}

@font-face {
    font-family: 'slim_joeregular';
    src: url(../fonts/SlimJoe/slim_joe-webfont.eot);
    src: url(../fonts/SlimJoe/slim_joe-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/SlimJoe/slim_joe-webfont.woff2) format("woff2"),url(../fonts/SlimJoe/slim_joe-webfont.woff) format("woff"),url(../fonts/SlimJoe/slim_joe-webfont.ttf) format("truetype"),url(../fonts/SlimJoe/slim_joe-webfont.svg#slim_joeregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* BigJohn */
@font-face {
    font-family: 'big_johnregular';
    src: url(../fonts/BigJohn/big_john-webfont.eot);
    src: url(../fonts/BigJohn/big_john-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/BigJohn/big_john-webfont.woff2) format("woff2"),url(../fonts/BigJohn/big_john-webfont.woff) format("woff"),url(../fonts/BigJohn/big_john-webfont.ttf) format("truetype"),url(../fonts/BigJohn/big_john-webfont.svg#big_johnregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* == http://www.fontsquirrel.com/fonts/amble */
/* Amble Regular */
@font-face {
    font-family: 'ambleregular';
    src: url(../fonts/Amble/Regular/Amble-Regular-webfont.eot);
    src: url(../fonts/Amble/Regular/Amble-Regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/Amble/Regular/Amble-Regular-webfont.woff) format("woff"),url(../fonts/Amble/Regular/Amble-Regular-webfont.ttf) format("truetype"),url(../fonts/Amble/Regular/Amble-Regular-webfont.svg#ambleregular) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* Amble Bold */
@font-face {
    font-family: 'amblebold';
    src: url(../fonts/Amble/Bold/Amble-Bold-webfont.eot);
    src: url(../fonts/Amble/Bold/Amble-Bold-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/Amble/Bold/Amble-Bold-webfont.woff) format("woff"),url(../fonts/Amble/Bold/Amble-Bold-webfont.ttf) format("truetype"),url(../fonts/Amble/Bold/Amble-Bold-webfont.svg#amblebold) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* Amble Light */
@font-face {
    font-family: 'amblelight';
    src: url(../fonts/Amble/Light/Amble-Light-webfont.eot);
    src: url(../fonts/Amble/Light/Amble-Light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/Amble/Light/Amble-Light-webfont.woff) format("woff"),url(../fonts/Amble/Light/Amble-Light-webfont.ttf) format("truetype"),url(../fonts/Amble/Light/Amble-Light-webfont.svg#amblelight) format("svg");
    font-weight: 400;
    font-style: normal;
}

/* INDEX.HTML */
/****---------1ST-ROW------***/
.custom-hide {
    display: none;
}

.custom1 {
    background: #fff;
    text-align: center;
    font-size: 27px;
    font-weight: bolder;
}

.custom2 {
    background: #000;
    text-align: center;
    color: #ebca00;
    padding: 11px 0;
    font-weight: bolder;
    font-size: 13px;
}

.custom3 {
    text-align: center;
    background: #000;
    padding: 11px 0;
    color: #ebca00;
    font-weight: bolder;
    font-size: 13px;
}

/****---------1ST-ROW-end------***/
/****---------2ND-ROW------***/
.col-custom3 {
    position: relative;
    top: 57px;
}

.custom-row {
    background: #F5D300;
}

.blockul {
    padding: 0;
    text-align: left;
    margin-left: 10px;
}

.blockul li {
    display: inline-block;
}

.lr-bt {
    padding: 17px 60px;
    padding-left: 25px;
    margin-right: 10px;
    background: #fff;
    color: #000;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition-property: background-color,color;
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in-out;
}

.rt-bt {
    padding: 17px 48px;
    padding-right: 0;
    margin-right: 10px;
    background: #000;
    color: #fff;
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    color: #F5D300;
    border: none;
    -webkit-transition-property: background-color,color;
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function: ease-in-out;
}

.rt-bt:hover{
    color: white;
    background: grey;
}

.lr-bt:hover{
    background: white;
    color:black;
}


.li-arrow {
    padding-left: 5px;
    font-size: 14px;
    padding-right: 35px;
}

.li-earphone{
    padding-right: 20px;
}



img.logo-img {
    position: relative;
    top: 20px;
    float: right;
}

/****---------2ND-ROW-end------***/
/****---------3RD-ROW-------***/
.relative-row {
    position: relative;
}

.badlistener-img {
    width: 100%;
}

.hero-image {
    position: absolute;
    top: -17px;
    width: 48%;
    left: 3%;
}

ul.Exp-list li {
    display: inline-block;
}

ul.Exp-list {
    text-transform: uppercase;
    position: absolute;
    top: 73%;
    color: #fff;
    list-style-type: none;
    font-size: 34px;
    font-weight: bolder;
}

/****--------3RD-ROW-end------***/
/****---------4th ROW-------***/
.line-up {
    list-style-type: none;
    position: relative;
    top: 11px;
    right: 38px;
    float: right;
    font-weight: bolder;
    font-size: 18px;
}

.line-up li {
    color: #fff;
    line-height: 29px;
    margin-right: -20px;
}

.BG-GREY1 {
    background: #231f20;
    color: #fff;
    display: none;
}

.hero-img2 {
    margin-top: -20px;
    width: 50%;
}

/****---------4th ROW-end-------***/
/****--------5th ROW--------***/
.redstripebackground1 {
    margin-top: -1px;
    padding-top: 100px;
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

span.h4 {
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 2px;
}

h1.info-lhs {
    padding: 10px 34px;
    color: #6B530D;
    font-weight: bolder;
    text-transform: uppercase;
}

h4.info-rhs {
    padding: 15px 0;
    font-size: 19px;
    font-weight: 300;
    line-height: 37px;
    color: #000;
}

/****--------5th ROW-end-------***/
/****--------6th ROW--------***/
.redstripebackground2 {
    margin-top: -3px;
    padding-top: 100px;
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.badlistener-img2 {
    width: 100%;
}

/****--------6th ROW-end-------***/
/****--------7th ROW--------***/
.redstripebackground3 {
    margin-top: -2px;
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.center-column {
    padding: 4%;
    width: 92%;
    position: relative;
    left: 4%;
    background: #231E1E;
}

h1.center-h1 {
    position: absolute;
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 55px;
    font-weight: bolder;
    letter-spacing: -2px;
    top: -64px;
}

.center-p {
    padding-top: 73px;
    line-height: 30px;
    color: #ccc;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
}

span.color {
    color: #FFC107;
}

/****--------7th ROW-end-------***/
/****--------8th ROW--------***/
.redstripebackground4 {
    position: relative;
    margin-top: -2px;
    padding-bottom: 100px;
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-danger {
    position: relative;
    top: -30px;
    padding: 0;
    background: #F5D300;
    padding-bottom: 40px;
}

.imp-doc {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.imp-doc a {
    background: #fff;
    border: 1px solid #efefef;
    display: table-cell;
    text-align: center;
    padding: 25px 5px 18px;
    vertical-align: middle;
    width: 50%;
}

.floor-h3,.iconfactsheet-h3 {
    color: #000;
}

h3.minor_heading {
    font-size: 27px;
    color: #fff;
    letter-spacing: 2px;
}

ul.pdf-list {
    list-style-type: none;
    padding: 0;
}

ul.pdf-list li {
    border-top: 1px solid rgba(195,193,193,0.36);
    padding: 15px 0;
    font-size: 19px;
}

ul.pdf-list li a {
    border-top: 1px #cecece;
    color: #000;
}

.icon-pdf {
    padding-left: 40px;
}

.pdf-icon {
    font-size: 25px;
}

a:hover {
    text-decoration: none;
}

.pdf-list li:last-child {
    border-bottom: 1px solid rgba(195,193,193,0.36);
}

/****--------8th ROW-end-------***/
/****--------9th ROW-end-------***/
.wine-img {
    position: relative;
    width: 93%;
    left: 4%;
}

.wedding-col {
    background: #231f20;
    margin-top: -1px;
    padding-bottom: 50px;
}

.wedding-h1 {
    position: absolute;
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
    margin-top: -36px;
    color: #fff;
}

.wedding-p {
    padding-top: 73px;
    line-height: 33px;
    color: #ccc;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
}

.blockbutton {
    padding: 10px 30px;
    position: relative;
    top: 20px;
    display: none;
    background: #F5D300;
}

.blockbutton a {
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: #000;
    font-weight: bolder;
}

.blockbutton1 {
    position: absolute;
    padding: 8px 10px;
    padding-right: 200px;
    background: #F5D300;
    bottom: -38px;
    left: 8%;
    border-radius: 0;
}

.blockbutton1 a {
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 29px;
    color: #000;
    font-weight: bolder;
    letter-spacing: -1px;
}

/****--------9th ROW-end-------***/
/****--------10th ROW--------***/
.positioning-row {
    background: url(../img/ocean.jpg);
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin-top: -1px;
    min-height: 800px;
}

.ocean-h1 {
    position: absolute;
    left: 8%;
    top: 247px;
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: ;
    font-weight: 800;
    letter-spacing: -4px;
    color: #fff;
    font-size: 70px;
}

.ocean-p {
    width: 100%;
    position: absolute;
    left: 8%;
    top: 438px;
    line-height: 33px;
    letter-spacing: 0;
    word-spacing: 1px;
    font-size: 17px;
    font-family: 'Lato',sans-serif;
    font-weight: 500;
}

.blockbutton2 {
    position: absolute;
    padding: 8px 10px;
    padding-right: 200px;
    background: #F5D300;
    bottom: 60px;
    left: 4%;
    border-radius: 0;
}

.blockbutton2 a {
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 29px;
    color: #000;
    font-weight: bolder;
    letter-spacing: -1px;
}

/****--------10th ROW end--------***/
/****--------11th ROW --------***/
.About-2 {
    padding: 0;
    margin: 0;
    display: none;
}

.positioning-row1 {
    width: 100%;
    margin-top: -1px;
}

.About-col {
    background: #231f20;
    margin-top: -1px;
    padding-bottom: 80px;
    display: none;
}

.About-h1 {
    position: absolute;
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 58px;
    font-weight: 800;
    letter-spacing: 0;
    top: -64px;
    color: #fff;
    padding-left: 30px;
}

.About-p {
    padding-top: 126px;
    line-height: 33px;
    color: #ccc;
    font-size: 17px;
    font-weight: lighter;
    word-spacing: 1px;
    letter-spacing: 1px;
    font-family: 'Lato',sans-serif;
    padding-left: 30px;
}

.blockbutton3 {
    padding: 10px 30px;
    position: relative;
    top: 20px;
    margin-left: 30px;
    background: #F5D300;
    border-radius: 0;
}

.blockbutton3 a {
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: #000;
    font-weight: bolder;
}

/****--------11th ROW end--------***/
/****--------12th ROW--------***/
.section-3 {
    position: relative;
}

.location-row {
    background: #231f20;
    margin-top: -3px;
    padding-bottom: 50px;
    display: none;
}

.location-h1 {
    position: absolute;
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -4px;
    top: -64px;
    color: #fff;
    padding-left: 30px;
}

.location-p {
    padding-left: 30px;
    padding-top: 50px;
    line-height: 33px;
    word-spacing: 1px;
    letter-spacing: 1px;
    color: #ccc;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
}

.Address-p {
    background: #333;
    padding: 30px;
    color: #ccc;
    font-size: 17px;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
    line-height: 33px;
    margin-top: 30px;
    letter-spacing: 1px;
}

.blockbutton4 {
    position: absolute;
    background: #F5D300;
    bottom: -25px;
    margin-left: 30px;
    padding: 13px 32px;
    border-radius: 0;
}

.blockbutton4 a {
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: bolder;
    letter-spacing: -1px;
}

/****--------12th ROW end--------***/
/****--------13th --------***/
.form-img {
    background: #fff;
    margin-left: -10px;
    margin-top: 100px;
    padding-bottom: 100px;
}

.wave-h1 {
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: -2px;
    font-family: sans-serif;
    color: #fff;
}

.h3-wave {
    font-weight: lighter;
    font-size: 20px;
    line-height: 28px;
}

.h2-wave {
    line-height: 40px;
    font-size: 20px;
}

.abs-img {
    height: 800px;
    position: absolute;
    width: 100%;
}

.form-email1 {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    padding-top: 30px;
    font-size: 17px;
    font-weight: bolder;
}

.form-control {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    padding: 30px 0;
    border: none;
    border-bottom: 5px solid #F5D300;
}

.h1-col {
    margin-top: 100px;
}

.h2-col {
    margin-top: 100px;
    margin-left: 9px;
    background: #F5D300;
}

.check-box {
    padding-top: 30px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 17px;
}

.blockbutton5 {
    position: absolute;
    background: #F5D300;
    bottom: -25px;
    padding: 13px 32px;
    right: 5%;
    border-radius: 0;
}

.blockbutton5 a {
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: #000;
    font-weight: bolder;
}

.text-area {
    border: none;
    border-bottom: 5px solid #F5D300;
}

/****--------13th ROW end--------***/
/****--------14th ROW --------***/
div.container-fluid.section-5 {
    height: 500px;
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.section5-row {
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.concert-img {
    width: 88%;
    margin: auto;
}

.concert-col {
    background: #231f20;
}

.concert-h1 {
    position: absolute;
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 70px;
    font-weight: 800;
    letter-spacing: -3px;
    margin-top: -36px;
    color: #fff;
}

.concert-p {
    padding-bottom: 50px;
    padding-top: 131px;
    line-height: 33px;
    color: #ccc;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Lato',sans-serif;
}



.form-padding1{
    padding-top: 50px;
}
.form-padding2{
    padding-top: 50px;
}

/****--------14th ROW --------***/

/****--------15th ROW --------***/
.redstripebackground6 {
  
    background: #304352;
/* fallback for old browsers */
    background: -webkit-linear-gradient(to left,#304352,#d7d2cc);
/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left,#304352,#d7d2cc);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.form2-img{
    padding-right: 0;
    padding-left: 0;
    position: relative;
    top: -29px;
    background:  #F5D300;
    padding-bottom: 100px;
    color: black;
}

.form2-custom{
    border:none;
    border-bottom:5px solid white;
    background: #F5D300;
}




.form-email2 {
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: bolder;
    border-bottom: 5px solid white;}

    .form-email3{
            padding-bottom: 10px;
            padding-top: 16px;
            border-bottom: 5px solid white;

}
    

    .check-box2A{

    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 18px;
    
    }
     .check-box2B{

    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding-left: 20px;
    
    }
   

  


.h4-certificate{
 
    padding-left: 17px;
   
}
.h4-Availability{
   
    padding: 17px;

}


.blockbutton6 {
    position: absolute;
    background: black;
    bottom: -25px;
    padding: 13px 32px;
    right: 5%;
    border-radius: 0;
}

.blockbutton6 a{
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color:#F5D300;
    font-weight: bolder;
}

.checkbox-col1{
        padding: 70px 0;
        padding-top:0;
        border-bottom: 5px solid white; 
}


.btn-upload{
    font-family: "big_johnregular","Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 17px;
    color: #F5D300;
    font-weight: bolder;
    padding: 13px 32px;
    border-radius: 0;
}

button.btn-upload{
      background: black;
}

input.custom-input{
    margin-right: 4px;
}




/****--------15th ROW-end --------***/
/****--------16th ROW --------***/

.redstripebackground7{
    background:#2E3032;
    padding:100px 0 0 0;
}


.footer-h6{
    color: white;
    line-height: 25px;
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-left: 20px;
}


.west-img{
    padding-left: 20px;
}





/****--------16th ROW-END --------***/



/***_______MEDIA-QUERIES_____***/


@media screen and (max-width: 500px) {

    img.logo-img{width: 82%;}
 }



@media screen and (max-width: 768px) { 

    .col-custom3{display: none;}
    .custom-hide{display: block;}
    .hero-image { display: none;}
    .BG-GREY1   { display: block;}
    ul.Exp-list {display: none;}
    h1.info-lhs { padding:24px 0; margin-left: 30px;}
    h4.info-rhs { padding:0;  margin-left: 30px;}
    h1.center-h1{font-size: 50px}
    .blockbutton1{display: none;}
    .blockbutton {display: block;}
    .redstripebackground1{padding-top: 5px;}
    .redstripebackground4{ background: #231E1E;}
    .blockbutton2{position: absolute;left:0;padding-right: 30px;}
    .hero-img2   { margin-left: 30px;}
    h1.About-h1  {font-size: 50px; letter-spacing: -1px;}
    .media-size,.media-size1{padding: 0;}
    .center-column{position: relative; width:100%; left:0;}
    .wine-img     {position: static; width:100%;}
    .bg-danger    { position: relative; top: 50px;}
    .wedding-h1   {font-size: 60px;}
    .abs-img      {height:1340px; }
    .form-img     {margin: auto; width: 80%;}
    .h2-col       {margin: auto; width: 80%;}
    .h2-wave      { margin-top: 100px; padding-top:20px;font-size: 16px;}
    .h3-wave      { font-size: 16px;}
    .form-email1  {font-size: 16px;}
    .check-box    {font-size: 16px;}
    .concert-img  {width: 100%;}
    .concert-col  {padding-bottom: 1px;}
    .concert-h1   {font-size: 50px;}
    .concert-p    { font-size: 16px; padding-top: 100px;}
    .form-padding2{ padding-top:30px;}
    .blockbutton6 {position: absolute; left:1%;}
    .form2-img    { width: 95%; margin:auto;}
    .redstripebackground6{ background:#231E1E; }
    .img-hide-col{ display: none;}
    .redstripebackground7 { padding-top: 60px;}
   
  





    }

    @media screen and (max-width: 968px) {

    
    .positioning-row{display: none;}
     .About-2{display: block;}
    .About-col{display: block;}
    .location-row{display: block;}
     .wave-h1      { font-size: 40px;}


       
    
 

}


@media screen and (max-width: 1034px) {
      .rt-bt{
            padding: 10px 18px;
            padding-right: 0; 
            font-size: 15px;
            position: relative;
            bottom: 10px;
        }

        .lr-bt{

            padding: 10px 18px;
            padding-right: 30px; 
            font-size: 15px;
            position: relative;
            bottom: 10px;

               

        }
  
    

}




/***_______MEDIA-QUERIES_____***/



/* end index.html */

